.input-container{
    margin: 1rem 0rem;
}

.input-container input{
    margin: 0 auto;
    width: 40% !important;
    outline: none;
    
} 
input[type="text"]{
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}
.invalid-title{
    text-align: center;
    margin: 2rem 0;
}